nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}
a{
    text-decoration: none;
    font-size: larger;
}
.others a{
    margin: 0 10px;
    color: whitesmoke;
}
.home a img{
    width: 100px;
    height: 100px;
}
.others a:hover{
    color: cyan;
    border-bottom: orange 1px solid;
    transition: all ease-in-out 0.5s;
}
