.global a:hover{
    color: cyan !important;
    border-bottom: orange 1px solid;
    transition: all ease-in-out 0.4s;
}
.block-form{
    display: flex;
    justify-content: center;
}

form{
    width: 300px;
    position: relative;
}

input, textarea{
    width: 100%;
    border-radius: 5px;
}
textarea{
    height: 200px;
    width: 300px;
    resize: none;
}
.btn{
    display: flex;
    justify-content: space-around;
}
.btn button{
    margin-top: 5px;
    width: 120px;
    border-radius: 5px;
}

input, textarea, button{
    padding: 5px 2px;
}