<div class="text-light">
  <h2>Créer une nouvelle tâche</h2>
    <div *ngIf="status === false" class="alert alert-danger text-center alert-dismissible fade show" role="alert">
      {{ errorMessage }}
      <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
    </div>
    <div class="block-form">
      <form (ngSubmit)="onSubmit()">
        <input type="text" class="" name="newTaskName" [(ngModel)]="newTaskName" placeholder="Nom de la tâche" required><br>
        <label>Priorité:
          <select name="newTaskPriority" [(ngModel)]="newTaskPriority" required>
            <option value="faible">faible</option>
            <option value="moyenne">moyenne</option>
            <option value="élevée">élevée</option>
          </select>
        </label><br>
        <label for="">Date de debut:
          <input type="datetime-local" name="newTaskStartTime" [(ngModel)]="newTaskStartTime" required>
        </label><br>
        <label>Date d'échéance:
          <input type="datetime-local" name="newTaskDeadline" [(ngModel)]="newTaskDeadline" required>
        </label> <br>
        <label for="">
          <textarea name="newTaskDescription" [(ngModel)]="newTaskDescription" placeholder="Description de la tâche" cols="30" rows="10"></textarea>
        </label><br>
        <div class="btn">
          <button type="reset" class="btn btn-outline-light">Annuler</button>
          <button type="submit" class="btn btn-outline-light">Créer la tâche</button>
        </div>
        <p class="text-center text-secondary">* Tous les champs sont obligatoires sauf la description</p>
      </form>
    </div>
</div>  

    