<app-header></app-header>
<router-outlet></router-outlet>
<footer class="bg-light mt-5 text-dark py-2 px-4 border-top-danger rounded" >
    <div id="contributeurs">
      <h4 class="">Contributeurs:</h4>
      <div class="list-group list-group-flush text-dark fw-medium fst-italic">
            <a class="text-decoration-none list-group-item list-group-item-action" href="https://github.com/Mah224Moud/" title="Github de Mamoudou">Mamoudou</a>
            <a class="text-decoration-none list-group-item list-group-item-action" href="https://github.com/cristan2021" title="Github de Cristan">Cristan</a>
            <a class="text-decoration-none list-group-item list-group-item-action" href="https://github.com/habibatous" title="Github de Habibatou">Habibatou</a>
            <a class="text-decoration-none list-group-item list-group-item-action" href="https://github.com/salim1417" title="Github de Salim">Salim</a>
            <a class="text-decoration-none list-group-item list-group-item-action" href="https://github.com/ba-cmd" title="Github de Safiatou">Safiatou</a>
            <a class="text-decoration-none list-group-item list-group-item-action" href="https://github.com/guesbeogo" title="Github de Constant">Constant</a>
            <a class="text-decoration-none list-group-item list-group-item-action" href="https://github.com/diallo44" title="Github de Aissatou">Aissatou</a>
      </div>
    </div>
    <h4>Lien du projet: <a href="https://github.com/Mah224Moud/Angular-project" title="lien du projet"><img src="./assets/images/github.png" alt="lien github" srcset=""></a></h4>
    <p class="mt-2 text-center text-secondary">GesTaches © <span id="currentYear" #currentYear></span></p>
  </footer>