<div class="container">
    <h2 class="text-center">Mes tâches</h2>
    <form>
      <label for="tri">Trier par:
      <select (change)="onSortChange($event)">
          <option value="" disabled selected>--Veuillez selectionner une option--</option>
          <option value="date">Date</option>
          <option value="priority">Priorité</option>
          <option value="status">Statut</option>
      </select>
      </label>
    </form>
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let task of tasks" id="{{task.getId()}}" class="card border-danger m-2">
        <div class="card-header text-center">
          {{task.getStatus()}} - {{task.getPriority()}} 
          <img src="../../assets/icons/patch-check.svg" class="ms-1 btn" title="Marquer la tâche comme terminée" alt="valid icon" (click)="onTaskStatusClick(task)">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{task.getName()}}</h5>
          <p class="card-text">
            {{task.getDescription()}}
          </p>
          <div class="text-center">
            <a [routerLink]="['/details', task.getId()]" class="btn btn-outline-primary btn-sm">voir plus</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">termine le, {{task.getEnd()}}</small>
        </div>      
      </div>
    </div>
</div>
  